header.header
    .header-top
        a.header-logo(href="index.html") Joice
        ul.header-menu
            li.header-menu-item
                a.header-menu-link(href="#") Home
            li.header-menu-item
                a.header-menu-link(href="#") About
            li.header-menu-item
                a.header-menu-link(href="#") Icecreams
            li.header-menu-item
                a.header-menu-link(href="#") Blog
            li.header-menu-item
                a.header-menu-link(href="#") Contact Us
            li.header-menu-item
                a.header-menu-icon(href="#")
                    i.fa-solid.fa-user
                    i.fa-solid.fa-search
    .header-content
        .header-conten-top
            .header-conten-top-numbers 01/04
            .header-conten-top-title
                h1 Ice<br/> Cream <br/>Shop
                p consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et dolore magna aliqua
                a By Now
            .header-conten-top-img
                img(src="./app/images/slider-img.png")
        .header-conten-bottom
                img(src="./app/images/btn-img.png")
                .header-conten-click 
                    a.header-conten-click-btn(href="#")
                        <i class="fa-solid fa-circle-arrow-left"></i>
                    a.header-conten-click-btn(href="#")
                        <i class="fa-solid fa-circle-arrow-right"></i>

    .header-bottom