//bg color
$primary-color:#f4f4f4;
$primary-color-fisrt:#e5e5d9;
$color-fill-image:#2b2b2b;
$color-icon:#b19d8b;
$color-button:#fd9e2e;
$color-button-more:#ac9784;
$color-social:#f7f4f8;
//text-color
$primary-text:#3b3a3a;
$text-form:#c1b1a3;
//font-family
$primary-font: 'Raleway', sans-serif; 
$font-form: 'Open Sans', sans-serif;
$font-form-sub:'Lato', sans-serif;
$font-foote: 'Poppins', sans-serif;
//with
$wrapper:1600px;
 
